<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="title" content="COVID-19 Tracking DE">
    <meta name="description" content="An info-page for tracking the COVID-19 outbreak in Germany">
    <meta name="keywords" content="COVID-19, Germany, Coronavirus, visualization, infograph">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <meta name="revisit-after" content="5 days">
    <meta name="author" content="Ye Tian">

    <!-- bootstrap -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- echarts -->
    <script src="https://cdn.jsdelivr.net/npm/echarts@4.6.0/dist/echarts.min.js" integrity="sha256-9TvhGliyfFW2O8SvloAhdFQbfjluHQ+vQ7WWWX5Z7oM=" crossorigin="anonymous"></script>
    <script src="vendor/worldmap/Germany.js"></script>

    <!-- vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-159669321-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-159669321-1');
    </script>

    <!-- self -->
    <link rel="stylesheet" type="text/css" href="index.css">
    <script src="index.js" language="javascript"></script>
  </head>
  <body>
    <div id="app">
      <nav id="navbar-top" class="navbar navbar-light">
        <div class="container">
          <p class="navbar-brand" style="color: white;">德国 COVID-19 现状 ({{ updateTimestamp | toDDate }})</p>
          <ul class="nav justify-content-end">
            <li class="nav-item">
              <a class="nav-link active" style="color: white;" href="#map">地图</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color: white;" href="#data">数据</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" href="#news">新闻</a>
            </li> -->
          </ul>
        </div>
      </nav>
  
      <div class="container">
        <div id="foreword" class="row page-content">
          <div align="center" style="width: 100%">
            <br>
            <p>制作团队前言</p>
          </div>
        </div>
  
        <div id="map" class="row page-content">
          <nav class="navbar navbar-light container-nav">
            <div class="container">
              <ul class="nav justify-content-end">
                <li class="nav-item">
                  <a class="nav-link" style="color: white;" href="#mapContainer">德国</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" style="color: white;" href="#bwMapContainer">BW</a>
                </li>
              </ul>
            </div>
          </nav>
          <div align="center" style=" width: 100%; height: 500px;">
            <div id="mapContainer" align="center" style="height: 100%; border-radius: 10px;"></div>
            <div id="bwMapContainer" align="center" style="height: 100%;"></div>
          </div>
        </div>
        <div id="data" class="row page-content">
          <div class="table-responsive" v-if="data && data.length > 0">
            <table class="table table-striped small-font-size">
              <thead>
                <tr>
                  <th @click="sort('stateName')" scope="col">联邦州 {{stateSortIcon}}</th>
                  <th @click="sort('totalInfectedState')" scope="col" class="text-align-center">全部 {{totalSortIcon}}</th>
                  <th @click="sort('infected')" scope="col" class="text-align-center">现存 {{infectedSortIcon}}</th>
                  <th @click="sort('cured')" scope="col" class="text-align-center">治愈 {{curedSortIcon}}</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="d in sortedData" :key="d.id">
                  <td> {{ d.stateName }} </td>
                  <td class="text-align-center infected-text"> 
                    <span v-if="d">
                      {{ d.infected + d.cured }} 
                    </span>
                    <span v-else>
                      ...
                    </span>
                  </td>
                  <td class="text-align-center infected-text"> 
                    <span v-if="d">
                      {{ d.infected }} 
                    </span>
                    <span v-else>
                      ...
                    </span>
                  </td>
                  <td class="text-align-center cured-text">
                    <span v-if="d">
                      {{ d.cured }} 
                    </span>
                    <span v-else>
                      ...
                    </span>
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr class="">
                  <td><strong>总计</strong></td>
                  <td class="text-align-center infected-text"> 
                    <span v-if="totalInfected && totalCured">
                      <strong> {{ totalInfected + totalCured }} </strong>
                    </span>
                    <span v-else>
                      ...
                    </span>
                  </td>
                  <td class="text-align-center infected-text"> 
                    <span v-if="totalInfected">
                      <strong> {{ totalInfected }} </strong>
                    </span>
                    <span v-else>
                      ...
                    </span>
                  </td>
                  <td class="text-align-center cured-text">
                    <span v-if="totalCured">
                      <strong> {{ totalCured }}  </strong>
                    </span>
                    <span v-else>
                      ...
                    </span>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
        <!-- <div id="news" class="row">
          NEWS
        </div> -->
      </div>
    </div>
  </body>
</html>
