body {
  font-size: 13px;
  display: block;
  background-color: #EFF4F9;
}

.small-font-size {
  font-size: 13px;
}

.text-align-center {
  text-align: center;
}

.infected-text {
  color: #BB0000;
}

.cured-text {
  color: #2B7D2B;
}

.update-text {
  color: rgb(122, 122, 122);
  font-size: 11px;
}

#navbar-top {
  color: #333;
  font-size: 1rem;
  padding: 1rem 0px;
  background-color: #A9C6DE;
}

.page-content {
  padding-top: 100px;
}