<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="title" content="COVID-19 Tracking DE">
    <meta name="description" content="An info-page for tracking the COVID-19 outbreak in Germany">
    <meta name="keywords" content="COVID-19, Germany, Coronavirus, visualization, infograph">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <meta name="revisit-after" content="5 days">
    <meta name="author" content="Ye Tian">

    <title>德国 COVID-19 现状</title>

    <!-- bootstrap -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- echarts -->
    <script src="https://cdn.jsdelivr.net/npm/echarts@4.6.0/dist/echarts.min.js" integrity="sha256-9TvhGliyfFW2O8SvloAhdFQbfjluHQ+vQ7WWWX5Z7oM=" crossorigin="anonymous"></script>
    <script src="vendor/worldmap/Germany.js"></script>

    <!-- vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-159669321-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-159669321-1');
    </script>

    <!-- self -->
    <link rel="stylesheet" type="text/css" href="index.css">
    <script src="index.js" language="javascript"></script>
  </head>
  <body>
    <div id="app">
      <nav id="navbar-top" class="navbar navbar-light">
        <div class="container">
          德国 COVID-19 现状 ({{ updateTimestamp | toDEDate }}) - 佛系更新
        </div>
      </nav>
  
      <div class="container">
        <div class="row">
          <div class="col-lg-6" align="center">
            <div id="mapContainer" align="center" style="width: 100%; height: 500px;"></div>
            <input v-model="showYourLoc" type="checkbox"/> 显示当前地理位置
          </div>
          <div class="col-lg-6" style="margin-top:50px;">
            <div class="table-responsive" v-if="data && data.length > 0">
              <table class="table table-striped table-sm table-hover small-font-size" style="background-color: #EFF4F9;">
                <thead>
                  <tr>
                    <th @click="sort('stateName')" scope="col">联邦州 {{stateSortIcon}}</th>
                    <th @click="sort('infected')" scope="col" class="text-align-center">现存确诊 {{infectedSortIcon}}</th>
                    <th scope="col" class="text-align-center">确诊比</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="d in sortedData" :key="d.id">
                    <td> {{ d.stateName }} </td>
                    <td class="text-align-center infected-text"> 
                      <span v-if="d">
                        {{ d.infected }} 
                      </span>
                      <span v-else>
                        ...
                      </span>
                    </td>
                    <td class="text-align-center infected-text"> 
                      <span v-if="d" :title="`人口：${d.population}`">
                        {{ `${((d.infected / d.population) * 100).toFixed(4)}%` }} 
                      </span>
                      <span v-else>
                        ...
                      </span>
                    </td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr class="">
                    <td><strong>总计</strong></td>
                    <td class="text-align-center infected-text"> 
                      <span v-if="totalInfected">
                        <strong> {{ totalInfected }} </strong>
                      </span>
                      <span v-else>
                        ...
                      </span>
                    </td>
                    <td class="text-align-center infected-text"> 
                      <span v-if="totalInfected" :title="`人口：${population}`">
                        <strong> {{ `${((totalInfected / population) * 100).toFixed(4)}%` }} </strong>
                      </span>
                      <span v-else>
                        ...
                      </span>
                    </td>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>

          <div align="center" class="col-sm-3" style="margin-top: 40px;">
            <span class="stats_red stats_font">{{ totalInfected | numberWithCommas }}</span><br/>
            现存确诊人数
          </div>

          <div align="center" class="col-sm-3" style="margin-top: 40px;">
            <span class="stats_green stats_font">{{ recoveries | numberWithCommas }}</span><br/>
            治愈人数
          </div>

          <div align="center" class="col-sm-3" style="margin-top: 40px;">
            <span class="stats_black stats_font">{{ deaths | numberWithCommas }}</span><br/>
            死亡人数
          </div>

          <div align="center" class="col-sm-3" style="margin-top: 40px;">
            <span class="stats_red stats_font">{{ cityData.length | numberWithCommas }}</span><br/>
            确诊地区数量
          </div>

          <div class="col-lg-12" style="margin-top: 40px;">
            <div class="table-responsive" v-if="data && data.length > 0">
              <table class="table table-striped table-hover table-sm small-font-size" style="background-color: #EFF4F9;">
                <thead>
                  <tr>
                    <th style="width: 50px;">#</th>
                    <th @click="sortCity('city_name')" scope="col">地区 {{ citySort.category === "city_name" ? citySort.icon : '' }}</th>
                    <th style="width: 80px;" @click="sortCity('infected')" scope="col" class="text-align-center">现存 {{ citySort.category === "infected" ? citySort.icon : '' }}</th>
                    <th scope="col" class="text-align-center">确诊比*</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(d, i) in sortedCityData" :key="i">
                    <td> {{ i + 1 }} </td>
                    <td> 
                      <div class="row">
                        <div class="col-sm-6">

                          <a :href="`https://www.google.com/maps/place/${d.geo[0]},${d.geo[1]}`" target="_blank">{{ d.city_name }}</a> 
                          <a :href="`https://www.wikiwand.com/de/${d.city_name}`"  target="_blank" title="Wiki" style="font-size: 10px;">📖</a>
                        </div>
                        <div class="col-sm-6">
                          <span style="font-size: 11px; font-weight: 300;">{{ d.state }}</span> 
                        </div>
                      </div>
                    </td>
                    <td class="text-align-center infected-text"> 
                      <span v-if="d">
                        {{ d.infected }} 
                      </span>
                      <span v-else>
                        ...
                      </span>
                    </td>
                    <td class="text-align-center infected-text"> 
                      <span v-if="d && d.population > 0" :title="`人口：${d.population}`">
                        {{ `${((d.infected / d.population) * 100).toFixed(4)}%` }} 
                      </span>
                      <span v-else>
                        -
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div style="text-align: center; padding: 10px; margin-bottom: 20px; font-size: 12px;">
        数据源：<a href="https://gcber.org/corona/" target="_blank">https://gcber.org/corona/</a> <br/>
        ★☆ 每天想起来的时候就更新一下 ☆★<br/>
        最近更新时间：{{ updateTimestamp | toDEDateTime }} <br/>
        各联邦州人口数据来自维基百科 (2018)<br/>
        * 各城市人口数据来自维基百科城市最新数据，由于是直接抓取 wikidata 的数据，数据误差可能很大。城市的确诊比只作为参考。<br/>
        确诊比的计算方法为： (现存确诊人数 / 总人口) * 100% <br/>
        Color theme: <a href="https://experience.sap.com/fiori-design-web/" target="_blank">SAP Fiori</a> <br/>
        Icon: <a href="https://svgrepo.com" target="_blank">svgrepo.com</a>
      </div>
    </div>
  </body>
</html>
