body {
  -ms-overflow-style: none;
  color: #333;
  font-size: 13px;
  font-weight: 400;
  font-family: Tahoma, Helvetica, Arial, "Microsoft Yahei","微软雅黑", STXihei, "华文细黑", sans-serif;
  display: block;
  background-color: #E7ECF0;
}

body::-webkit-scrollbar {
  display: none;
}

.small-font-size {
  font-size: 13px;
}

.text-align-center {
  text-align: center;
}

.infected-text {
  color: #BB0000;
}

.cured-text {
  color: #2B7D2B;
}

.update-text {
  color: rgb(122, 122, 122);
  font-size: 11px;
}

#navbar-top {
  color: #FAFAFA;
  font-size: 1rem;
  padding: 1rem 0px;
  background-color: #3F5161;
}

.stats_red {
  color: #BB0000;
}

.stats_green {
  color: #2B7D2B;
}

.stats_black {
  color: #333;
}

.stats_font {
  font-size: 2rem;
  font-weight: 700;
}